name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - 27.2
          - 28.1
          - 28.2
          - 29.1
          - 29.2
          - 29.3
          - 29.4
          - 30.1
          - 30.2
        melpa_version:
          - stable
          - unstable
    container: silex/emacs:${{ matrix.emacs_version }}-ci-eask
    steps:
      - name: Check out repository code
        uses: actions/checkout@main
      - name: Set package source
        if: ${{ matrix.melpa_version == 'stable' }}
        run: eask source delete melpa; eask source add melpa-stable
      - name: Install dependencies
        run: eask install-deps --dev; eask uninstall docker
      - name: Test byte compilation against MELPA ${{ matrix.melpa_version }}
        run: eask compile --strict --debug -v 5
